body {
  margin: 0;
  padding: 0;
  background: #010104;
  font-family: 'Open Sans', sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 24px;
  font-family: 'Poiret One', sans-serif;
  color: #77f;
}

.title {
  display: inline-block;
  text-decoration: none;
}

.links {
  float: right;
}

a, a:visited {
  color: #77f;
}

a:hover {
  color: #aaf;
}

.setup-container, .target-select-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.setup, .target-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.setup {
  text-align: center;
}

.separator {
  color: #77f;
  padding-bottom: 16px;
  margin: 16px;
}

.target-select {
  color: #77f;
  padding: 16px;
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  font-weight: lighter;
  font-size: 24px;
}

.target-select-boss-label {
  border-bottom: 1px solid #77f;
  padding-bottom: 2px;
  margin-bottom: 16px;
}

/* Adapted from https://benmarshall.me/styling-file-inputs/ */
input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#video-input {
  top: 8px;
}

input[type="file"] + label, .target-select-submit,
.target-select-player-select, .dpsreport-text, .dpsreport-submit {
  border: 1px solid #77f;
  background: none;
  color: #77f;
  font-family: 'Poiret One', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  height: 32px;
  padding: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.target-select-submit, .dpsreport-submit {
  height: auto;
}

.target-select-player-select, .dpsreport-text {
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  display: block;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 2px;
  height: auto;
  margin-bottom: 16px;
  text-transform: none;
}

.target-select-player-select {
  padding-right: 48px;
  background-image: url(caret.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.dpsreport-text {
  font-size: 16px;
  width: calc(16px * 23);
  display: inline-block;
  margin-right: 16px;
  cursor: auto;
}

#video-input + label {
  font-size: 16px;
  height: 24px;
  padding: 12px;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover,
.target-select-submit:hover,
.target-select-player-select:hover {
  border-color: white;
  color: white;
  outline: none;
}

.icon {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.container {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px 24px 24px 24px;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.hidden {
  display: none;
}

.gameplay-video-container {
  position: relative;
  text-align: center;
}

.gameplay-video-container.no-video {
  min-height: 360px;
}

.gameplay-no-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border: 1px solid #aaf;
  color: #77f;
  font-family: 'Poiret One', sans-serif;
}
.gameplay-video-container.no-video > .gameplay-no-video {
  display: block;
}

.gameplay-no-video-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.gameplay-video {
  width: 100%;
}

.gameplay-video-container.no-video > .gameplay-video {
  display: none;
}

.dps-graph-container {
  grid-column: 1/-1;
  position: relative;
  width: 100%;
}

.timeline-container {
  grid-column: 1/-1;
  position: relative;
  width: 100%;
}

.timeline {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.toggle-benchmark {
  position: absolute;
  top: 0;
  right: calc(100% + 4px);
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: white;
  cursor: pointer;
}

.board-container {
  position: relative;
  overflow-x: scroll;
  width: 100%;
  top: -24px;
}

.board-container.show-benchmark {
  top: 0;
}

.buff {
  opacity: 0.5;
  fill: #77f;
  stroke: none;
}

.buff.buff-outline {
  opacity: 0.5;
  fill: none;
  stroke: #5a5;
}


.cast.cancel {
  opacity: 0.3;
}

.cast {
  fill: #77f;
  stroke: none;
}

.cast.benchmark {
  fill: #5a5;
  stroke: none;
}

.cast-instant, .cast-instant.benchmark {
  fill: #fff;
  opacity: 0.5;
}

.legend {
  position: absolute;
  top: -24px;
  left: 4px;
  pointer-events: none;
  z-index: 10;
}

.legend.show-benchmark {
  top: 0;
}

.legend .name, .tooltip-explanation {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.name {
  font-size: 12px;
  fill: #fff;
  stroke: none;
  dominant-baseline: middle;
}

.needle {
  stroke: none;
  fill: #0ff;
}

.report-card {
  color: white;
}

.report-card-items {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 36px;
}

.report-card-items.single > .report-card-item {
  display: none;
}

.report-card-items.single > .report-card-item.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0;
}

.report-card-item:first-child {
  margin-top: 0;
}

.report-card-item {
  border: 1px solid #aaf;
  margin: 12px 0;
  height: 36px;
  overflow: hidden;
}

.report-card-item.open {
  height: auto;
  overflow: show;
}

.report-card-item-expander {
  float: right;
  padding-right: 8px;
  font-size: 12px;
  color: #77f;
  text-decoration: underline;
  cursor: pointer;
}

.report-card-item-expander:hover {
  color: #fff;
}

.mishap-list {
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
}

.time-link {
  color: #aaf;
}

.time-link:hover {
  color: #fff;
}

.grade {
  display: inline-block;
  border-right: 1px solid black;
  position: relative;
  width: 32px;
  margin-right: 4px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.grade-s {
  border-color: #0ff;
  color: #0ff;
}

.grade-a {
  border-color: #0f0;
  color: #0f0;
}

.grade-b {
  border-color: #ff0;
  color: #ff0;
}

.grade-c {
  border-color: #f70;
  color: #f70;
}

.grade-d {
  border-color: #f00;
  color: #f00;
}

.dps-path {
  fill: none;
  stroke: #77f;
  stroke-width: 2px;
}

.dps-path-benchmark {
  fill: none;
  stroke: #5a5;
}

.tooltip {
}

.tooltip-hidden {
  display: none;
}

.tooltip-path {
  stroke: #fff;
}

.tooltip-explanation {
  font-size: 12px;
  fill: #fff;
  stroke: none;
  dominant-baseline: middle;
  background: rgba(0, 0, 0, 0.5);
}

.control-panel {
  border: 1px solid #77f;
  background: none;
  color: white;
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
}

.control-panel-item {
  padding: 24px;
}

.control-panel-label::before {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  left: -4px;
  top: 6px;
  content: '';
  background-image: url(unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.control-panel-checkbox:checked + .control-panel-label::before {
  background-image: url(checked.svg);
}

.control-panel-checkbox {
  opacity: 0;
}

#benchmark-name {
  position: relative;
  top: 3px;
}
